<div class="offer-card <%= 'premium-offer' if offer.is_premium? %>">
  <div class="offer-name"><%= offer.name %></div>
  <a href="<%= offer.url %>" target="_blank" class="btn btn-primary">Show Now</a>
</div>