<h1>Lemoney</h1>
<% unless @offers.present? %>
  <div><td colspan="5">No offers found</td></div>
<% end %>
<div class="gallery">
  <% @offers.each do |offer| %>
    <div class="gallery-item">
      <%= render partial: 'offer_card', locals: { offer: offer } %>
    </div>
  <% end %>
</div>